<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="about.css">
	<title>Lost or stolen sign up</title>
</head>

<body>
	<div align="center" class="topnav">
		<div class="topnav">
			<a href="./project">IMEI CHECK</a>
			<a href="./projectsignin">SIGN IN</a>
			<a href="./projectsignup">SIGN UP</a>
			<a class="active" href="./about">ABOUT</a>
		</div>
	</div>
	<br>

    <div align="center" >
    <img src="/images/author.png" alt="author" width="200" height="200"/>
    <br> <br> <br> <br> <br>
	</div>


    <div id="slideshow">
        <div class="slide-wrapper">
             
            <div class="slide">
                <h1 class="slide-number">
                <img src="images/slide1.jpg" alt="slide1" width="972" height="540" align="center"/>
                </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">
                <img src="images/slide2.jpg" alt="slide2" width="972" height="540" align="center"/>
                </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">
                <img src="images/slide3.jpg" alt="slide3" width="972" height="540" align="center"/>
                </h1>
            </div>
            <div class="slide">
                <h1 class="slide-number">
                <img src="images/slide4.jpg" alt="slide4" width="972" height="540" align="center"/>
                </h1>
            </div>
        </div>
    </div>


	<footer>
		<p>Author: Mark Tharwat</p>
		<p><a href="https://www.linkedin.com/in/mark-antonio-b2777310a/">Contact on LinkedIn</a>
		</p>
	</footer>
</body>

</html>