<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="signup.css">

	<title>Lost or stolen sign up</title>
</head>

<body>
	<div align="center" class="topnav">
		<div class="topnav">
			<a href="./project">IMEI CHECK</a>
			<a href="./projectsignin">SIGN IN</a>
			<a class="active" href="./projectsignup">SIGN UP</a>
			<a href="./about">ABOUT</a>
		</div>
	</div>
	<br><br>

	<form method="post" action="projectsignuphandler.php" id="signUpForm">
		<div align="center">
			<fieldset style="width:40%">
				<label id="labelNew">Username:</label><br>
				<input type="text" name="username" id="inputNew">
				<br><br>

				<label id="labelNew">Email:</label><br>
				<input type="email" name="email" id="inputNew">
				<br><br>

				<label id="labelNew"> Password:</label><br>
				<input type="password" name="password" id="inputNew">
				<br><br>

				<label id="labelNew">Mobile:</label><br>
				<input type="number" name="phone" id="inputNew">
				<br><br>

				<input type="submit" value="Signup" id="button">
				<input type="reset" value="Cancel" id="button">
			</fieldset>
		</div>
	</form>

	<footer>
		<p>Author: Mark Tharwat - 19200164</p>
		<p><a href="https://www.linkedin.com/in/mark-antonio-b2777310a/">Contact on LinkedIn</a>
		</p>
	</footer>
</body>

</html>