<html>

<head>
	<meta charset="utf-8">
	<title>Insert Record</title>
	<link rel="stylesheet" href="insertRecords.css">

</head>


<body>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div align="center">
		<fieldset style="width:40%">
			<br>
			<p id=#labelNew>This is a lost or stolen device</p>
			<img src='images/NotSafe.png' width='100' height='100' />
			<br><br><br><br><br>
			<button onclick="redirectToHome()">Home</button>
			<br><br>
		</fieldset>
	</div>
	<script>
		function redirectToHome() {
			location.replace("http://localhost:3000/project")
		}
	</script>



</body>

</html>